.App {
  text-align: center;
  background-color: var(--color-background);
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    border-radius: 50%;
  }
}

.App-header {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.gif {
  max-height: 20%;
}

.form {
  gap: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: var(--color-background);
  border-radius: 5%;
  border: solid var(--color-lightgreen) 0.5rem;
  /* grid-column: 3 / span 3;
  grid-row: row1-end / span 4; */
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .image {
    width: auto;
    max-height: 15vmin;
    animation: Star-appear infinite 60s linear;
  }
}

img {
  transition: all 5s ease-in-out;
}

@keyframes Star-appear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(8px + 1vmin);
  border-radius: 8px;
  border-style: none;
  background-color: var(--color-lightgreen);
  transition: color 5ms;
  margin: 1rem;
}

button:hover,
button:focus {
  background-color: var(--color-khaki);
}

input {
  border-radius: 5%;
}
/*------------------------------------*\
  MODIFIER CLASSES
\*------------------------------------*/

/* width modifier classes */

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

.width-lg {
  max-width: 60rem;
}

.width-md {
  max-width: 40rem;
}

.width-sm {
  max-width: 20rem;
}

/* stack modifier classes */

.stack-lg > * + * {
  margin-top: 3rem;
}

.stack-md > * + * {
  margin-top: 1.2rem;
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}

/* FLEX/GRID modifier classes */
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 1fr 0.3fr 0.3fr;
  grid-template-rows: 0.4fr 1fr 0.3fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}

/* COLORS*/
body {
  background-color: var(--color-background);
  color: var(--color-paragraph);
  /* Colors */
  --color-background: rgb(0, 0, 0);
  --color-lightgreen: #9fcc2e;
  --color-khaki: #5a6650;
  --color-darkgreen: #072117;

  /* font colors */
  --color-paragraph: rgb(151, 144, 144);
  --color-headings: ;
}

/* Zodiac Color Classes make the FetchColor 
JSON string color text change to the color they are! */
.Orange {
  color: #ffa500;
}
.Copper {
  color: #b87333;
}
.Red {
  color: #df2727;
}
.Blue {
  color: #517bf0;
}
.Sky_Blue {
  color: #87ceeb;
}
.Yellow {
  color: #ffc400;
}
.Peach {
  color: #ffc9b4;
}
.Purple {
  color: #7a44dd;
}
.Teal {
  color: #008080;
}
